body {
  font-family: "Montserrat", sans-serif;
}

.contenedor-perfil {
  display: flex;
  margin: auto;
  width: 80%;
  padding-top: 1em;
  height: 100%;
  justify-content: space-around;
  text-align: center;
}
.formato-perfil {
  border-radius: 100%;
  min-width: 200px;
  width: 30%;
  margin: 1em;
  object-fit: cover;
  object-position: center;
  box-shadow: 1px 1px 4px 10px rgba(92, 90, 90, 0.5);
}

.nombre-principal-conteiner {
  display: inline-block;
  min-width: 400px;
  font-size: 2em;
  padding: 1%;
  font-weight: bold;
  margin: 2em;
  
}
.titulo_presentacion{
  color: rgb(0, 0, 0);
  margin-bottom: 0.5em;
}

.texto__presentacion {
  display: inline;
  font-weight: normal;
  font-size: 0.7em;
  color: rgb(12, 12, 12);
}

@media screen and (max-width: 480px) {
  .caja-encabezado,
  .contenedor-list-footer {
    width: 100vh;
    box-sizing: border-box;
    text-align: center;
  }

  .nombre-principal {
    width: 80vh;
  }
  .contenedor-perfil {
    display: flex;
    flex-wrap: wrap;
  }
  nav {
    position: relative;
    top: 0;
    margin: 1%;
  }
}
