#work p {
  text-align: center;
}
.proyectos ul {
  text-align: center;
}
.proyectos li {
  display: inline-block;
  margin: 1em;
  text-align: center;
  height: 40vh;
  width: 30%;
  overflow: hidden;
}

.proyectos li:hover {
  transform: scale(1.05);
  transition: 1s;
}

.proyectos h3 {
  font-weight: bold;
  font-size: 20px;
}

.proyectos li img {
  height: 100%;
  width: 100%;
  margin: 1em;
  box-shadow: 10px 10px 0px 0px rgba(92, 90, 90, 0.5);
}

ion-icon {
  font-size: 42px;
}
.alura {
  width: 28px;
}

.contenedor-list-footer li {
  list-style-type: none;
  text-align: center;
  display: inline;
  margin: 0 0.5em;
}

@media only screen and (max-width: 767px) {

  #work{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .proyectos {
    width: 100vw;
  }
  .containerBody {
    width: 100vh;
    margin: 0;
    margin-right: 0;
    padding: 0;
  }
  .contenedorUl {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 0px;
    text-align: center;
    padding: 0;
  }

  .contenedorUl li {
    margin: 0 auto;
    width: 98%;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .proyectos li img {
    margin: 1em 0;
    margin-bottom: 1em;
    width: 100%;

  }
}
