body {
background: rgb(77, 77, 77, 0.1);
}

.skills-container {
  width: 95%;
  margin: 5em 6%;
  text-align: center;
}

.skills-container__img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.skills-container__img li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5em;
  width: 18%;
  margin: 0.2em;
  background:white;
  box-sizing: border-box;
}

.skills-container__img li img {
  width: 50%;
  height: 50%;
}
.skills-container__img li p {
  font-weight: bolder;
  padding-left: 1em;
}

.unity {
  padding-left: 1em;
}

.skills__titulo {
  margin: 1em;
  font-weight: 700;
  font-size: 2em;
}

@media screen and (max-width:480px){

  .skills-container {
    width: 100vw;
    text-align: center;
  
  }
  
  
  .skills-container__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vh;
    justify-content: space-evenly;
  }
  .skills-container__img li{ 
    width: 40%;
  }

  .unity{
  padding: 0;
  }
  body main  {

    width:auto;
  }
  section{

    text-align: center;
  }
}