main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  margin-bottom: 1em;
  font-size: 20px;
}

.contenido-patron {
  display: block;
  padding: 10px 25px;
  margin-bottom: 10px;
  width: 50%;
  font-size: 20px;
}

.caja-envio {
  margin: 20px;
  width: 40%;
  background: orange;
  padding: 15px 0;
  font-size: 20px;
  font-style: inherit;
  font-weight: bold;
  color: white;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

.caja-envio:hover {
  background: darkorange;
  transform: scale(1.1);
}
table {
  margin: 40px 40px;
  width: 30%;
}
thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px black solid;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}


@media screen and (max-width: 480px) {

  .contenido-formularioo{
    width: auto;
  }

  .contenido-formulario form{
    width: 70%;
  }
  .contenido-patron {
    display: block;
    padding: 10px 20px;
    margin-top: 1em;
    margin-left: 4px;
    margin-bottom: 15px;
    width: 50%;
    font-size: 20px;
  }

  form label{
    width: 60%;
  }
  
}